*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
html, body{
    width: 100%; height: 100%;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    background: #333;
    color: #fff;
    background-image: url("../images/main_bg_pc.jpg");
}
.btn-toggle{
    background: none;
    border: none;
    position: absolute;
    right: 40px; top: 40px;
    cursor: pointer;
}
.btn-toggle:hover{
    opacity: .6;
}
#main_header{
    height: 120px;
    /* outline: 2px solid blue; */
}
/*
    질문
    전 화면구성을 header를 120px로 따로잡고 그안에 메뉴버튼을 넣었고
    나머지 부분을 content영역으로 묶어서 container안에 넣었거든요
    그런데 container 전체 높이를 뷰포트 높이에서 헤더 높이를 뺀 calc(100vh - 120px)로 해봤는데
    창 세로높이가 작아졌을때 스크롤바가 나오게 하고 싶은데 방법이 있을까요
*/

/*
    이 부분은 지금 구현하고 있는 부분과 상이한 부분이라 나중에 다시 얘기하죠
    네
    지금은 일단 수업에서 같이 하는 것 기준으로 해야 설명이 용이해요
*/
.container{
    max-width: 1280px;
    margin: 0 auto;
    /* outline: 2px solid red; */
}
#content{
    float: right;
    /* outline: 2px solid green; */
    text-align: center;
}
#content>.box{
    text-shadow: 2px 2px 4px #333;
}
#content>.box>img{
    margin-top: 30px;
}
#content>.box>p{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}
#content>.box>ul>li{
    font-weight: 500;
    margin-bottom: 10px;
}
#content>.box>ul>li:last-child{
    margin-bottom: 40px;
}
#content>.box>ul>li:nth-child(2){
    margin-left: 25px;
    margin-right: 25px;
}
.box>.sns{
    /* outline: 1px solid blue; */
    height: 40px;
    margin-bottom: 20px;
}
.box>.sns>li{
    display: inline-block;
    margin: 0 25px;
}
.sns>li:hover{
    opacity: .6;
}
/*main footer*/
#main_footer{
    width: 100%; height: 80px;
    background: #333;
    text-align: center;
    clear: both;
    position: relative;
    padding-top: 15px;
}
#main_footer>.sns{
    height: 30px;
    margin-bottom: 8px;
}
#main_footer>.sns>li{
    display: inline-block;
    margin: 0 20px;
}
#main_footer img{
    width: 30px;
}
#main_footer p{
    font-size: 12px;
    color: #fff;
}
/*gnb*/
#gnb{
    position: fixed;
    background: #f6f6f6;
    right: -320px; top: 0;
    width: 320px; height: 100%;
    z-index: 999;
    transition-duration: .4s;
}
#gnb.show{
    right: 0;
}
#gnb .btn-close{
    background: none; border: none;
    position: absolute;
    right: 40px; top: 40px;
    cursor: pointer;
}
#gnb .btn-close:hover{
    opacity: .6;
}
#gnb>ul{
    margin-top: 120px;
    text-align: center;
}
#gnb>ul>li{
    width: 320px; height: 50px;
    line-height: 50px;
}
#gnb>ul>li>a{
    display: block;
    height: 50px;
    color: #333;
}
#gnb>ul>li>a:hover{
    background: #E70012;
    color: #fff;
}
#gnb>ul>li.active a{
    background: #E70012;
    color: #fff;
}
/*synopsis*/
#synop_popup{
    position: fixed;
    width: 90%; height: calc(100vh - 200px);
    max-width: 1200px;
    background: #fff;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    color: #333;
    padding: 80px;
    opacity: .9;
    display: none;
    overflow: scroll;
}
#synop_popup>h2{
    margin-bottom: 60px;
    text-align: center;
    font-size: 32px;
}
#synop_popup>p{
    font-size: 24px;
}
#synop_popup.show{
    display: block;
}